@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Momo+Trust+Display&family=Roboto:wght@400;700&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --gray: #a7a7a7;
  --bg: #f9f9f9;

  --heading-font: "Momo Trust Display", serif;
  --body-font: "Roboto", sans-serif;
  --alt-font: "Arimo", sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASIC LAYOUT */
body {
  font-family: var(--body-font);
  color: var(--black);
  background: var(--bg);
  display: flex;
  justify-content: center;
  padding: 2rem;
  line-height: 1.6;
}

.container {
  background: var(--white);
  max-width: 850px;
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 12px;
}

/* HEADER */
header {
  border-bottom: 2px solid var(--gray);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 2rem;
  align-items: center;
}

.header-image-container img {
  width: 180px;
  height: 180px;
  border: 2px solid var(--gray);
  border-radius: 50%;
}

.profile h1 {
  font-family: var(--heading-font);
  font-size: 2rem;
}

.profile .subtitle {
  font-family: var(--alt-font);
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.contact-info {
  list-style: none;
  display: flex;        
  gap: 1rem;            
  flex-wrap: nowrap;    
}

.contact-info span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--alt-font);
  white-space: nowrap;  
}

/* SECTIONS */
section {
  margin-bottom: 1.5rem;
}

h2 {
  font-family: var(--heading-font);
  font-size: 1.3rem;
  border-bottom: 2px solid var(--gray);
  margin-bottom: 0.5rem;
  padding-bottom: 0.2rem;
}

h3 {
  font-family: var(--alt-font);
  margin-bottom: 0.2rem;
}

p {
  margin-bottom: 0.4rem;
}

hr {
  border: none;
  border-top: 1px solid var(--gray);
  margin-top: 1rem;
}

/*LANGUAGE TABELE*/
.language-table {
  display: grid;
  grid-template-columns: 1fr repeat(5, 1fr);
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.language-table li {
  padding: 5px;
  text-align: center;
}

.language-table .header {
  font-weight: bold;
}

.language-table .language {
  text-align: left;
  font-weight: bold;
}

/*LICENSES*/
#licenses {
  max-width: 400px;
  margin: left;
}

.license-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  align-items: start;
}

.license-grid .header {
  font-weight: bold;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.license-grid article {
  display: contents;
}

/* FOOTER */
footer {
  border-top: 2px solid var(--gray);
  text-align: center;
  color: var(--gray);
  font-size: 0.9rem;
  padding-top: 1rem;
}

/* MEDIA*/
@media (max-width: 480px) {
  body {
    padding: 0.5rem;
  }

  .container {
    padding: 1rem;
  }
}