@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Momo+Trust+Display&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #000000;
    --primary-light: #ffffff;
    --muted-gray: #A7A7A7A7;
    --container-background: #f9f9f9;
    --heading-font: "Momo Trust Display", serif;
    --body-font:"Roboto", sans-serif;
    --link-fonts:"arimo", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

header{
    margin-top: 2rem;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: ;
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 1rem;
        max-width: 100vw;
        overflow-x: hidden;
        line-height: 1.5;
        font-size: 1.5rem;
    }
}